body {
  background: #F9F7FE;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #45a590d8;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 10px 0 10px 0;
}

.weatherBox {
  background: #ffffff;
  border-radius: 10px;
  padding: 25px;
  margin: 60px auto;
  max-width: 600px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

#search-input {
  background: #F9F7FE;
  border: #F9F7FE;
  padding: 10px;
  margin: 15px;
  border-radius: 8px;
  font-size: 16px;
  width: 65%;
}

#search-button {
  background: #56c4acd8;
  border: #56c4acd8;
  padding: 10px;
  margin: 15px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  width: 23%;
}

main {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  line-height: 25px;
  color: #4c4e4ec9;
  
}

.icon {
  text-align: right;
  position: relative;
  top: -10px;
  font-size: 50px;
}
.unit {
  color: #56c4acd8;
  font-weight: bold;
}
.tempNow {
  text-align: right;
  position: relative;
  top: -3px;
  font-size: 40px;
  margin-right: 10px;
}

.tempValue {
  font-size: 80px;
  font-weight: bold;

}

.degreeF {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -35px;
}
footer {
  font-size: 16px;
  text-align: center;
  color: #696f70;
  border-top: 1px solid #f9f7fe;
  padding: 20px 0 30px 0;
}